<footer class="bg-light text-center text-lg-start mt-4">
  <div class="container p-4">
      <div class="row">
          <!-- Coluna de informações de contato -->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Contato</h5>
              <ul class="list-unstyled mb-0">
                  <li>
                      <i class="fas fa-envelope"></i> Email: petfw2@petshop.com
                  </li>
                  <li>
                      <i class="fas fa-phone"></i> Telefone: (51) 981114150
                  </li>
                  <li>
                      <i class="fas fa-map-marker-alt"></i> Endereço: Av. Ipiranga, 6681 - Partenon, Porto Alegre - RS, 90619-900
                  </li>
              </ul>
          </div>
          
          <!-- Coluna de navegação -->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Navegação</h5>
              <ul class="list-unstyled">
                  <li><a href="index.html" class="text-dark">Home</a></li>
                  <li><a href="/pages/produtosServicos.html" class="text-dark">Produtos & Serviços</a></li>
                  <li><a href="/pages/cadastroClientePet.html" class="text-dark">Cadastro Cliente/Pet</a></li>
                  <li><a href="/pages/agendamento.html" class="text-dark">Agendamento</a></li>
                  <li><a href="/pages/contato.html" class="text-dark">Contato</a></li>
              </ul>
          </div>

          <!-- Coluna de informações legais -->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Informações Legais</h5>
              <p>
                  © 2024 PetShop. Todos os direitos reservados.
                  <br>
                  Desenvolvido por Augusto Santos.
              </p>
          </div>
      </div>
  </div>
  
  <!-- Barra inferior do rodapé -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <a class="text-dark" href="https://www.petshop.com">petshop.com</a>
  </div>
</footer>

