<!-- header.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="../assets/images/logo.png" alt="PetShop Logo" style="height: 40px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="../index.html">Home</a>
            <a class="nav-link" href="../produtosServicos.html">Produtos & Serviços</a>
            <a class="nav-link" href="../cadastroClientePet.html">Cadastro Cliente/Pet</a>
            <a class="nav-link" href="../agendamento.html">Agendamento</a>
            <a class="nav-link" href="../contato.html">Contato</a>
        </div>
    </div>
</nav>


